.edit-stop-form {
    height: 36px;
    display: flex;
    align-items: center;

    .name-input {
        width: 140px;
        font-size: 15px;
        color: #666666;

        &:focus {
            outline: none;
        }
    }
    
    .address-input {
        width: 410px;
        font-size: 15px;
        color: #666666;

        &:focus {
            outline: none;
        }
    }
}

.stop-wrapper {
    display: flex;
    align-items: center;
    height: 36px;

    .stop-text {
        display: inline-block;
    }
    
    .stop-name {
        display: inline-block;
        width: 150px;
    
        &:hover {
            cursor: pointer;
            color: blue;
            text-decoration: underline;
        }
    }
    
    .stop-address {
        display: inline-block;
        width: 500px;
        cursor: pointer;
    
        &:hover {
            cursor: pointer;
            color: blue;
            text-decoration: underline;
        }
    }
    
    .stop-completed {
        display: inline-block;
        margin: 0 28px;
    }
}

button {

    &:focus {
        outline: none;
    }
    
    &.delete-stop-button {
        cursor: pointer;
        padding: 4px 6px;
        margin-left: 20px;
        font-weight: bold;
        background: #c43d18;
        border-radius: 5px;
        color: white;
    }

    &.save-stop-button {
        cursor: pointer;
        padding: 4px 6px;
        margin-left: 20px;
        font-weight: bold;
        background: #6f8f78;
        border-radius: 5px;
        color: white;
    }
}